<!-- templates/admin/fields/question_with_category.html.twig -->
{% set answer = ea.entity.instance %}
{% set question = answer.question %}
{% if question %}
    <div>
        <div class="fw-bold mb-1">
            {{ question.text|length > 60 ? question.text|slice(0, 60) ~ '...' : question.text }}
        </div>
        {% if question.category %}
            <small class="badge bg-info">{{ question.category.name }}</small>
        {% endif %}
        {% if question.difficulty %}
            <small class="badge bg-secondary">{{ question.difficulty.name }}</small>
        {% endif %}
    </div>
{% endif %}
