<!-- templates/admin/quiz_session/response_time_formatted.html.twig -->
{% set answer = ea.entity.instance %}
{% set time = answer.time %}
{% if time %}
    {% if time < 2 %}
        <span class="badge bg-success">{{ time }}s</span>
    {% elseif time < 4 %}
        <span class="badge bg-primary">{{ time }}s</span>
    {% elseif time < 7 %}
        <span class="badge bg-warning">{{ time }}s</span>
    {% else %}
        <span class="badge bg-danger">{{ time }}s</span>
    {% endif %}
{% else %}
    <span class="text-muted">-</span>
{% endif %}
