{% extends 'base_error.html.twig' %}
{% block title %}Erreur 404 - Page introuvable{% endblock %}
{% block body %}
<div class="min-h-screen flex flex-col items-center justify-center bg-gradient-to-br from-blue-100 to-blue-400">
    <div class="bg-white shadow-xl rounded-lg p-10 text-center max-w-lg">
        <h1 class="text-7xl font-black text-blue-500 mb-4">404</h1>
        <p class="text-xl font-semibold mb-2 text-blue-700">Page introuvable !</p>
        <p class="mb-6 text-blue-800">La page que tu cherches n'existe pas.<br>Ou alors elle s'est cachée très loin&nbsp;!</p>
        <a href="/" class="btn btn-info">Retour à l'accueil</a>
    </div>
    <p class="mt-8 text-blue-900 opacity-75">Erreur 404 : Page perdue dans le multivers.</p>
</div>
{% endblock %}
