{# Generic template for displaying name with icon for any entity #}
{% set entity_instance = entity.instance %}
<a href="{{ ea_url().setController('App\\Controller\\Admin\\CategoryCrudController').setAction('detail').setEntityId(entity_instance.id).generateUrl() }}" class="d-flex align-items-center text-decoration-none">
    <twig:ux:icon name="{{ entity_instance.icon ?? 'guidance:forbidden-2' }}" height="20" width="20" class="me-2 fs-4" />
    <span>{{ field.value }}</span>
</a>
